In [20]:
#importing data from 'Cleaning data'
%store -r data
data.head()

,Møllenummer (GSRN),Dato for oprindelig nettilslutning,Kapacitet (kW),Rotor-diameter (m),Navhøjde (m),Fabrikat,Model,Kommune-nr.,Kommune,Type af placering,...,p2009,p2010,p2011,p2012,p2013,p2014,p2015,p2016,p2017,p2018
0,570714700000005091,1990-12-06,200.0,27.0,30.0,Micon,M 570,316,Holbæk,LAND,...,366520.0,340051.276,386308.0,321447.0,350464.0,317575.00,306308.0000,334471.000,416876.839,284467.0060
1,570714700000005220,1989-04-04,200.0,24.0,30.0,Danwin,DW 24-Danwin,316,Holbæk,LAND,...,204640.0,164000.000,248150.0,116120.0,0.0,33607.61,139296.6215,90900.392,108177.496,92654.5215
2,570714700000005237,1989-04-04,200.0,24.0,30.0,Danwin,DW 24-Danwin,316,Holbæk,LAND,...,204640.0,164000.000,248150.0,116120.0,0.0,33607.61,139296.6215,90900.392,108177.496,92654.5215
3,570714700000005732,1988-03-29,150.0,24.0,30.0,Dan Force,DK 22-Dan Force,316,Holbæk,LAND,...,113210.0,174745.000,117255.0,101945.0,79044.0,0.00,0.0000,0.000,0.000,0.0000
4,570714700000005749,1989-11-17,150.0,24.0,30.0,Dan Force,DK 22-Dan Force,316,Holbæk,LAND,...,246963.0,187202.000,237111.0,140596.0,0.0,0.00,79261.6760,0.000,165108.788,28136.8280

In [27]:
#Calculation the total wind energi capacity per municipality
kom_MW_total = data.groupby('Kommune').apply(lambda x: x['Kapacitet (kW)'].sum()/1000)
kom_MW_total.head()

Kommune
Aabenraa    86.226
Allerød      2.747
Assens      31.151
Billund     92.575
Bornholm    36.969
dtype: float64

In [31]:
#Calculation the total electricity produced by wind turbines per municipality
prod_cols=['p2008','p2009', 'p2010', 'p2011', 'p2012', 'p2013', 'p2014', 'p2015', 'p2016','p2017', 'p2018']
kom_prod_total = data.groupby('Kommune').apply(lambda x: x[prod_cols].sum()/1000000)

#Adding 'Total Production' = Total_prod to the kom_prod_total
kom_prod_total['L10year_prod']=kom_prod_total.sum(axis=1)
kom_prod_total.head()

In [31]:
#Storing data to use in other notebooks
%store kom_prod_total

Stored 'kom_prod_total' (DataFrame)